.hello {
	width: 300px;
	height: 199px;
	background-image: url('assets/img/test.d41d8cd98f00b204e9800998ecf8427e.png');
}


.hello {
	width: 300px;
	height: 199px;
	background-image: url('test.d41d8cd98f00b204e9800998ecf8427e.png');
}